<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ForteARP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ForteARP.Properties.Settings.ForteDataConnectionString"
            connectionString="Data Source=PORNTEP\SQLEXPRESS;Initial Catalog=ForteData;Integrated Security=True" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <ForteARP.Properties.Settings>
            <setting name="UserName" serializeAs="String">
                <value>forte</value>
            </setting>
            <setting name="PassWord" serializeAs="String">
                <value>etrof</value>
            </setting>
            <setting name="RemoteServer" serializeAs="String">
                <value>.\\SQLEXPRESS</value>
            </setting>
            <setting name="BSerRemote" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CsvFileLocation" serializeAs="String">
                <value>C:\temp</value>
            </setting>
            <setting name="Database" serializeAs="String">
                <value>ForteData</value>
            </setting>
            <setting name="Host" serializeAs="String">
                <value>.</value>
            </setting>
            <setting name="Instance" serializeAs="String">
                <value>SQLEXPRESS</value>
            </setting>
            <setting name="Local" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WeightUnit" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MoistureUnit" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WLDatabase" serializeAs="String">
                <value>ForteLayer</value>
            </setting>
            <setting name="iRTBox1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="iRTBox2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="iRTBox3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="iRTBox4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="iRTBox5" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="iRTBox6" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="iRTBox7" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="iCbServerSelect" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LocalHost" serializeAs="String">
                <value />
            </setting>
            <setting name="bBalerType" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GraphHiMenuEight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GraphLoMenuEight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ibaleSamples" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="iMenuSelected" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GraphHiMenuOne" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GraphLoMenuOne" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GraphHiMenuTwo" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GraphLoMenuTwo" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="iScanRate" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="iWLSamples" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="WLMinLimit" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WLMaxLimit" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WLMinYAxis" serializeAs="String">
                <value>"0"</value>
            </setting>
            <setting name="WLMaxYAxis" serializeAs="String">
                <value>"40"</value>
            </setting>
            <setting name="WLYAxisInterval" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WLHiColorIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WLNormColorIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WLLoColorIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WLAlarmIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WLOkIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="iDropProfile" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="iDropProBox1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="iDropProBox2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="iDropProBox3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="iDropProBox4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="bAutoSetMod" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bWetLayer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bDropOptions" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="iDropGraphSamples" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="bModOveride" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="iWetLayerTrendSample" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="bLogMsgOn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="iMaxLogLines" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="bDropHitoLow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bDropPosition" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="iDualGraphLineindex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="iDualGraphSamples" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="iDropGraphLineIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="iDropProfileLineIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="bDropNumbers" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="iBalesInADrop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="iDropSample" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="iDropProfileSourceIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GraphHiMenuFive" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GraphLoMenuFive" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GraphHiMenuSix" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GraphLoMenuSix" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="iRTGMenuSelected" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GraphHiMenuSeven" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GraphLoMenuSeven" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GraphHiMenuThree" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GraphLoMenuThree" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WLDayEndTime" serializeAs="String">
                <value />
            </setting>
            <setting name="GraphHiMenuFour" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GraphLoMenuFour" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="iDropGraphMenuSel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="iDualGraphSourceindex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="sDualGraphSourceSel" serializeAs="String">
                <value>"1"</value>
            </setting>
            <setting name="sDualGraphLineSel" serializeAs="String">
                <value>"1"</value>
            </setting>
            <setting name="iDropGraphSourceIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="sGrphProfileSourceSel" serializeAs="String">
                <value>"1"</value>
            </setting>
            <setting name="bNetWork" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="iVarBoxOne" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="iVarBoxTwo" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="iVarBoxThree" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="iVarBoxFour" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="iVarBoxFive" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="iVarBoxSix" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="iVarBoxSeven" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="iVarBoxEight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="iVarBoxNine" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="iVarBoxTen" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="iVarBoxEleven" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="iVarBoxTwelve" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HistLowLimits" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="HistHiLimits" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="HisHiColorIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HisCHiColorIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HisNorColorIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="sRealTimeSource" serializeAs="String">
                <value>"0"</value>
            </setting>
            <setting name="iRealTimeSourceIdx" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="iRealTimeLineidx" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="sRealTimeLine" serializeAs="String">
                <value>"0"</value>
            </setting>
            <setting name="bSelectLine" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="iRealTimeBale" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="iLanguageIdx" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="bBSqlDep" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SelTimeEndIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DayEndTime" serializeAs="String">
                <value />
            </setting>
            <setting name="bShowHistrogram" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bWlShowTrend" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bShowProdEstimate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProdDayEnd" serializeAs="String">
                <value />
            </setting>
            <setting name="dYxLowM" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="dYxLowW" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="dYxLowADWt" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="dYxLowDirt" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="dYxLowBright" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="dYxHiM" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="dYxHiW" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="dYxHiBdWt" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="dYxHiADWt" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="dYxHiDirt" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="dYxHiBright" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="BScaleAuto" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="dYxLowBdWt" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="dYxHiVisco" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="dYxLowVisco" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="archCheck" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="realTimeDataCheck" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="realTimeGrpCheck" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="relTimeDualGrpCheck" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="wetLayerChecked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="variablesCheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="backgndchartidx" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="graphByLstidx" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DropChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DpProfileChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DropGraphChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DropPosChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RemoteProfileChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CombindGrpSample" serializeAs="String">
                <value>0</value>
            </setting>
        </ForteARP.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Abstractions" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.11.7.0" newVersion="5.11.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Container" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.11.11.0" newVersion="5.11.11.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
